<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"
        defer></script>
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Rock Stars</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Rock Stars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contato">Contato</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container pb-5 mt-5">
        @RenderBody()
    </div>

    <div class="p-3"></div>

    <footer class="container bg-dark text-light p-3 fixed-bottom">
        Copyright &copy; Ifes 2022
    </footer>

</body>

</html>