<h2>Meu Catálogo de RockStars!</h2>
<hr>
<p>
    Os RockStars de 200 anos atrás eram trabalhadores. Eles tinham que ser extremamente talentosos e dedicados para serem bem sucedidos. Muitos deles eram extremamente populares e tinham muitos fãs.Na época, a maioria dos músicos trabalhava como servos de algum nobre ou na corte real. Alguns músicos eram mercenários e viajavam por toda a Europa, tocando para aqueles que pudessem pagar. A música era considerada um trabalho como qualquer outro e, portanto, muitos músicos não tinham muita liberdade criativa, no entanto, há 200 anos atrás, a cultura de massa não existia como a conhecemos hoje. A música era um entretenimento para a elite e não havia meios de distribuir a música para o público em geral. Com o surgimento da indústria do entretenimento, a música começou a ser distribuída de forma mais ampla e acessível, o que permitiu que ela se tornasse uma parte importante da cultura de massa.
</p>