@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Area de Membros";
}

<h2>Principal</h2>
<hr>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut porro sint quam mollitia. A harum sint obcaecati fuga,
    earum, doloremque omnis, delectus porro eum ab dignissimos ad possimus aliquam quaerat?
</p>