@model List<RockStar>

<div class="row g-4">
    @foreach (var rs in Model)
    {
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="~/img/rs@(rs.Id).jpg" alt="@rs.Nome">
                <div class="card-body">
                    <h4 class="card-title">@rs.Nome</h4>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure qui, recusandae
                        inventore ducimus nisi consectetur commodi ad laborum itaque repudiandae?</p>
                </div>
                <div class="card-footer text-center p-3">
                    <a href="/Home/Detalhes/@rs.Id" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>
    }
</div>