@model Usuario

    <h2>Olá, @Model.Nome!</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora rerum non sed eveniet at odit sequi. Aperiam eveniet, neque culpa ipsa perspiciatis quod sint dolores, est natus sequi praesentium! Saepe.
    </p>
